@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.field {
    &__input {
        background-color: rgba($Secondary-Black, $alpha: 0.12);
        border: none;
        padding: 0.75rem 1rem;
        margin: 1rem;
        width: 100%;
        &::placeholder {
            color: $Primary-Gray;
        }
        &:focus {
            outline: none;
            border: 1px solid $Primary-Yellow;
        }
    }
}