@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.weather {
    width: 64%;
    height: fit-content;
    order: 2;
    &__title {
        margin-bottom: 1rem;
    }
    &__card {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 100%;
        background-color: $Primary-White;
        height: auto;
    }
    &-top {
        background: url('../../assets/weather/weather.svg')  no-repeat center/100%;
        height: 11rem;
        position: relative;
    }
    &-bottom {
        height: 8rem;
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-around;
        &-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__location {
        position: absolute;
        bottom: .25em;
        right: 1em;
    }
    &__day {
        color: $Primary-Gray;
        margin-bottom: 0.25rem;
    }
    &__icon {
        height: 2rem;
        margin-bottom: 0.5rem;
        &-top {
            position: absolute;
            top: 2.5em;
            left: 4em;
            filter: invert(1) contrast(5);
            height: 6rem;
        }
    }
    &__temp {
        color: $Primary-Gray;
        &-top {
            font-size: 6rem;
            position: absolute;
            top: .35em;
            left: 2em;
        }
    }
}