@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.missionCard {
    &__date {
        color: $Secondary-Gray;
        font-size: 12px;
        font-weight: 500;
    }
    &-bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }
    
    &-right {
        width: 100%;
    }
}