@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.dashboard {
    &-page {
        display: flex;
    }
    &-main {
        margin: 2rem 3rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 100vh;
        margin-left: 19rem;
        margin-top: 5rem;
    }
}

