/*Responsive Design Breakpoints*/
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

/*Font-Family Variables*/
$font-family: 'Roboto', 'Times New Roman', sans-serif;

/*Font-Weight*/
$font-bold: 700; 
$font-medium: 600;
$font-regular: 400;
$font-light: 300;

/* Primary Colors */
$Primary-Gray: #3B3A39;
$Primary-Black: #000000;
$Primary-White: #FCFCFC;
$Primary-Yellow: #F4C544;

/* Secondary Colors */
$Secondary-Gray: #474747;
$Secondary-Yellow: #EECD70;
$Secondary-Black: #2C2B2A;
$Secondary-White: #EBEBEB;
