@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.hero {
    position: relative;
    &__tagline {
        color: $Primary-White;
        width: fit-content;
        opacity: 70%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 325%);
        @include tablet {
            width: fit-content;
            transform: translate(-50%, 600%);
        }
        &:hover {
            opacity: unset;
        }
    }
}


// Targets the background
canvas {
    height: 100vh !important;
    width: 100vw !important;
    @include tablet {
        height: 25rem !important;
        width: 100vw !important;
    }
}