@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.loginForm {
    position: relative;
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -75%);
        width: 100%;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 2rem;
        width: 50%;
        background-color: $Secondary-Gray;
        padding: 2rem 0rem;
        height: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25);
        // cursor: pointer;
        // transition: 0.4s;
        // &:hover {
        //     background-color: $Primary-Yellow;
        //     transform: scale(1.1, 1.1);
        //     box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25), -5px -5px 5px 5px rgba(0,0,0,0.22);
        // }
    }
    &__title {
        width: fit-content;
        padding-bottom: 1rem;
    }
    &__btn {
        border-radius: 20px;
        font-size: 1rem;
        padding: 0.5rem 2.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        border: 1px solid $Primary-Gray;
        margin-top: 1rem;
        background-color: $Primary-Yellow;
        transition: transform 80ms ease-in;
        &:focus {
            transform: scale(0.95);
        }
        &:hover {
            cursor: pointer;
        }
    }
}
