@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.profile {
    &-page {
        display: flex;
        height: 100vh;

    }
    &-main {
        margin: 2rem 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &-portfolio {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}
