@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.upcomingMissions {
    width: 100%;
    margin-bottom: 3rem;
    &__title {
        margin-bottom: 1rem;
    }
}
.cardList {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    background-color: $Primary-White;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1rem;
    width: 18.25rem;
    height: 7rem;
    &__img {
        height: 5rem;
        width: 5rem;
        border-radius: 6px;
        object-fit: cover;
    }
    &-right {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
    }
    &__title {
        color: $Secondary-Gray;
        margin-bottom: 0.2rem;
    }
    &__specialty {
        color: $Secondary-Gray;
        font-size: 12px;
        font-weight: 500;
    }
    &__body1 {
        color: $Secondary-Gray;
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        line-height: 18px;

    }
    &__location {
        color: $Secondary-Gray;
        font-size: 12px;
        font-weight: 500;
    }
    &__date {
        color: $Secondary-Gray;
        font-size: 12px;
        font-weight: 500;
    }
}