@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.upcomingMissions {
    width: 100%;
    margin-bottom: 3rem;
    order: 1;
    height: fit-content;
    &__title {
        margin-bottom: 1rem;
    }
}
.cardList {
    display: flex;
    justify-content: space-between;
}