@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $Primary-Black;
    padding-bottom: 1rem;
    &__logo {
        height: 3rem;
    }
    &__nav {
        display: flex;
        align-items: center;

    }
    &__list {
        list-style: none;
        display: unset;
        margin: unset;
        padding: unset;
        &-item {
            color: $Secondary-White;
            margin: 1rem;
            text-decoration: none;
            width: 4rem;
            &:hover {
                text-decoration: underline;
                color: $Primary-Yellow;
                background-color: $Primary-Gray;
                border-radius: 20px;
                opacity: 75%;
            }
        }
    }

}