@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.pendingMissions {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &__title {
        margin-bottom: 1rem;
    }
}