@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.pendingMissions {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    order: 3;
    &__title {
        margin-bottom: 1rem;
    }
}