@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.missionsAll {
    &-page {
        display: flex;
    }
    &-main {
        margin: 2rem 3rem;
        width: 100%;
        height: 100vh;
    }
    &-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__search {
        height: 3rem;
        width: 20rem;
        outline: none;
        border: 3px solid $Primary-Yellow;
        padding: 1rem;
        border-radius: 6px;
        align-self: center;
        margin-bottom: 3rem;
    }
}