@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.portfolioDescription {
    &-top {
        margin:unset;
        background: center/125% no-repeat url('../../assets/images/profile_banner.svg');
        width: 111%;
        object-fit: contain;
        height: 11rem;
        margin: -2.85rem
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -4rem;
    }
    &__img {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border: 0.5px solid $Primary-White;
        padding: .25rem;
    }
    &__btn {
        width: fit-content;
        margin-top: .5rem;
    }
    &__body {
        margin: 2rem 8rem;
        text-align: center;
    }
}