@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.missions {
    &-page {
        display: flex;
    }
    &-main {
        margin: 2rem 3rem;
        margin-left: 19rem;
        margin-top: 5rem;
        width: 72%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
}
