@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.portfolio {
    &__form {
        background-color: $Primary-White;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    &__title {
        color: $Primary-Gray;
        margin-bottom: 1rem;
    }
    &__cta {
        background-color: #FBE312;
        outline: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
        padding: 0.5rem 2rem;
        &:active {
            transform: scale(.95);
        }
        &:hover {
            background-color:rgba(0, 0, 0, .6);
            color: $Primary-White;
        }
        &:disabled {
            background-color:rgba(0, 0, 0, .25);
        }
    }
}